<div id="right_column_flip">
    <h2>Ajutor/secțiuni</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Despre noi", help_about_path %></li>
        <li><%= link_to_unless_current "Acces la informații", help_requesting_path %></li>
        <li><%= link_to_unless_current "Confidențialitate", help_privacy_path %></li>
        <li><%= link_to_unless_current "Pentru instituții", help_officers_path %></li>
        <li><%= link_to_unless_current "Software", help_alaveteli_path %></li>
        <li><%= link_to_unless_current "Mulțumiri", help_credits_path %></li>
        <li><%= link_to_unless_current "API/programatori", help_api_path %></li>
        <li><%= link_to_unless_current "Interogări", advanced_search_path %></li>
    </ul>

    <h2 id="contact">Contact</h2>
    <p>Dacă niciuna dintre secțiunile paginii de Ajutor nu ți-a oferit un răspuns satisfăcător la întrebările tale, ori dacă vrei să ne trimiți o sugestie despre site, contactează-ne <a href="/help/contact">aici</a>.
    </p>
</div>


