<% @title = "Contact us" %>

<%= foi_error_messages_for :contact %>

<h1>Contact</h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>Contactează o instituție, pentru a solicita informații oficiale:</h2>
    <ul>
      <li><a href="<%= new_request_path %>">Solicită</a> informații de interes public de la instituții.</li>

      <li>
        Cauți informații privind datele tale personale? Te rugăm, citește paginile de <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">ajutor</a>.
      </li>
    </ul>

  <% end %>

  <h2>Contactează echipa <%= site_name %> NuVăSupărați.info:</h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
        Te rugăm, citește mai întâi paginile de <a href="<%= help_about_path %>">ajutor</a>, întrucât răspunsul poate fi deja acolo.</li>

      <li>
        Ne-ar bucura să aflăm cum, de unde ai aflat despre noi. Folosește acest formular sau trimite-ne un email la <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
      </li>

      <li>Suntem un grup de <strong>activiști civici</strong>, sprijiniți de câteva organizații neguvernamentale, deci nu facem parte din sistemul instituțiilor publice.</li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name">Numele tău:</label>
      <%= f.text_field :name, :size => 20 %>
      (or <%= link_to "autentifică-te", signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email">Emailul tău:</label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject">Subiectul:</label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message">Corpul mesajului:</label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Nu completa acest câmp' %>
    <%= f.text_field :comment %>
  </p>

  <% if !@last_request.nil? %>
    <p>
      <label class="form_label" for="contact_message">Poți include un link către o solicitare:</label>
      <%=request_link(@last_request) %>
      <%= submit_tag "remove", :name => 'șterge' %>
    </p>
  <% end %>
  <% if !@last_body.nil? %>
    <p>
      <label class="form_label" for="contact_message">Poți include un link către o autoritate:</label>
      <%=public_body_link(@last_body) %>
      <%= submit_tag "remove", :name => 'șterge' %>
    </p>
  <% end %>

  <p class="form_note">
    Te putem ajuta numai în legătură cu <strong>problemele tehnice</strong> sau dacă ai întrebări despre liberul acces la informații de interes public.
    </p>


    <div class="form_button">
      <%= hidden_field_tag(:submitted_contact_form, 1) %>
      <%= submit_tag "Trimite mesajul către echipa NuVăSupărați", :disable_with => "Se trimite..." %>
      &lt;-- noi ne îngrijim de acest site, nu Guvernul!
    </div>

  <% end %>


